body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*  临时注释  */ 
  /* text-align: center; */     
  color: #2c3e50;

  /* padding: 20px; */
  /* margin-top: 60px; */
}